<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.cloud.user.mapper.ReviewManagementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ly.cloud.user.entity.ReviewManagement">
        <id column="ID" property="reviewId" />
        <result column="PLSJ" property="reviewTime" />
        <result column="PLWZID" property="reviewArticleId" />
        <result column="PLPXID" property="reviewTrainId" />
        <result column="FPLID" property="reviewParentId" />
        <result column="DZS" property="likeCount" />
        <result column="FBYHID" property="reviewerId" />
        <result column="PLNR" property="reviewContent" />
        <result column="PLDXID" property="targetId" />
    </resultMap>

    <resultMap id="ReviewResultMap" type="com.ly.cloud.user.dto.ReviewDTO">
        <id column="ID" property="reviewId" />
        <result column="PLSJ" property="reviewTime" />
        <result column="PLWZID" property="reviewArticleId" />
        <result column="PLPXID" property="reviewTrainId" />
        <result column="FPLID" property="reviewParentId" />
        <result column="FBYHID" property="reviewerId" />
        <result column="PLNR" property="reviewContent" />
        <result column="YHID" property="userId" />
        <result column="YHM" property="userName" />
        <result column="YHTX" property="userAvatar" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PLSJ, PLWZID, FPLID, DZS, FBYHID, PLNR, PLDXID, PLPXID
    </sql>
    
    <select id="selectPage" resultMap="BaseResultMap">
    	select 
    	<include refid="Base_Column_List"></include>
    	from LY_LDD_PLB
    </select>

    <select id="selectAllReview" resultMap="ReviewResultMap">
        select plb.ID,plb.PLSJ,plb.PLWZID,plb.PLPXID,plb.FPLID,plb.FBYHID,plb.PLNR,yhb.YHID,yhb.YHM,yhb.YHTX
        from LY_LDD_PLB plb LEFT JOIN LY_LDD_YHB yhb ON plb.FBYHID = yhb.YHID
        <where>
            <if test="articleId != null">
                PLWZID = #{articleId}
            </if>
            <if test="trainId != null">
                PLPXID = #{trainId}
            </if>
        </where>
        ORDER BY PLSJ DESC
    </select>

</mapper>
