<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.cloud.user.mapper.SortManagementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ly.cloud.user.entity.SortManagement">
        <id column="ID" property="sortId" />
        <result column="FLMC" property="sortName" />
        <result column="FLBM" property="sortAlias" />
        <result column="FLMS" property="sortDescription" />
        <result column="FFLID" property="sortParentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, FLMC, FLBM, FLMS, FFLID
    </sql>
    
    <select id="selectPage" resultMap="BaseResultMap">
    	select 
    	<include refid="Base_Column_List"></include>
    	from LY_LDD_FLB
    </select>

</mapper>
